version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: projeto_automacao
      MYSQL_USER: leads_user
      MYSQL_PASSWORD: Arthur433
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: leads_api
    restart: always
    env_file:
      - .env
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
    ports:
      - "8000:8000"
    depends_on:
      - mysql

volumes:
  mysql_data:
